#KON1 {
    background-image: url('../img/icons/kon1.png');;
    height: 100px;
}
#KON2 {
    background-image: url('../img/icons/kon2.png');
    height: 100px;
}
#KON3 {
    background-image: url('../img/icons/kon3.png');
    height: 100px;
}