#PRZECZYTAJ {
	background-image: url('../img/icons/003-eye.png');
}
#WYBIERZ {
	background-image: url('../img/icons/002-clipboard.png')
}
#WYPELNIJ {
	background-image: url('../img/icons/001-like.png')
}
.text_box3 {
	margin-top: 24px;
}

ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

.collapsible {	
    cursor: pointer;
    padding: 24px;
    width: 100%;
    border: none;
	display: table;
	overflow: auto;
	font-weight: bold;
	background-color: #f4f4f4;
}

.active, .collapsible:hover {
	background-color: #373737;
	color: #f4f4f4;
}

.notcollapsible {
	background-color: #C0B283;
	font-weight: bold;
	padding: 24px;
	width: 100%;
	display: table;
	overflow: auto;
	border: none;
	color: #f4f4f4;
}

.book_author, .book_title, .book_status {
	float: left;
}

.book_title, .book_author {
	padding-left: 24px;
	text-align: left;
	width: 40%;
}

.book_status {
	width: 20%;
	text-align: right;
	padding-right: 24px;
}

.book_content {
    padding: 0 24px;
    max-height: 0;
    overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
}

.book_content a {
	color: #C0B283;
}

.section_content a {
	color: #C0B283;
}

.nextrow a {
    color: #C0B283;
}