html, body {
	/* font-family: 'Exo 2', sans-serif; */
	/* font-family: 'Roboto Slab', serif; */
	/* font-family: 'Cormorant', serif; */
	font-family: 'Work Sans', sans-serif;
	font-size: 12pt;
	height: 100%;
	margin: 0;
	color: #515151;
	background-color: #f4f4f4;
}

button:focus, a:focus, .w3-button:focus {
	outline: none;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
.inside_row {
	padding-top: 48px; 
	padding-bottom: 48px; 
	max-width: 1160px
}

.section_title {
	margin-bottom: 48px;
}

.section_content {
	overflow: auto;
	margin-bottom: 48px;
}

.floating_item {
	float: left;
	width: 33.33%;
	padding-left: 24px;
	padding-right: 24px;
}

#FOOTER {
	max-width: 1160px;
	border-top: 1px solid;
}

#smallLogo {
	height: 30px;
	width: 34px;
	padding-left: 8px;
	padding-top: 4px;
}

.field {
	font-weight: bold;
}

ul.errorlist {
	margin: 0;
	padding: 0;
}
.errorlist li {
	background-color: red;
	color: white;
	display: block;
	margin: 0 0 3px;
	text-align: center;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

.headrow {
	margin-top: 48px;
}

.icon_box3 {
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
	height: 100px;
	background-size: contain;
}

.w3-button:hover {
	background-color: #C0B283 !important;
}

.w3-button {
	background-color: #373737 !important;
}