{% extends "index.html" %}

{% block title %}biblioteka{% endblock %}

{% block content %}

	<!-- WSTĘP DO BIBLIOTEKI -->
	<div class="headrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>O bibliotece</h2>
			</div>
			<div class="section_content">
				
				<p>
					Jako młodzi i spragnieni wiedzy o Szkole Austriackiej oraz jej dorobku z nadzieją wchodziliśmy do pięknego gmachu Biblioteki SGH szukając wśród licznych prac ekonomicznych i filozoficznych dzieł Hayeka czy Misesa. Niestety okazało się, że są one bardzo nieliczne. Dlatego postanowiliśmy stworzyć własną bibliotekę, która spełniałaby nasze wymagania. W trakcie systematycznego poszerzania naszego zbioru postawiliśmy sobie następujące cele: 
					<ul>
						<li>utworzenie rozbudowanej bazy naukowej do wykorzystania w publikacjach i pracach dyplomowych</li>
						<li>animacja czytelnictwa wśród członków SKN ASE i studentów SGH</li>
						<li>poszerzenie wiedzy na temat Szkoły Austriackiej członków SKN ASE i innych zainteresowanych studentów SGH</li>
						<li>ukazanie heterogeniczności dorobku Szkoły Austriackiej, z uwzględnieniem polskich autorów</li>
					</ul> 
					Wśród naszych zasobów poza samą teorią ekonomii mamy pozycje dla tych, którzy dopiero zaczynają przygodę z austriakami, takie jak "Ekonomia w jednej lekcji" Hazlitta. Nie brakuje prac metodologicznych, np. "Teoria a historia" Misesa, czy w końcu osiągnięć polskich uczonych - "Pod prąd głównego nurtu ekonomii" pod red. Mateusza Machaja z Instytutu Misesa.
				</p>

				<div class="w3-text-red">
						{{ form.name.errors }}
						{{ form.surname.errors }}
						{{ form.email.errors }}
						{{ form.emailConf.errors }}
						{{ form.phone.errors }}
				</div>

			</div>
		</div>
	</div>

	<!-- JAK KORZYSTAĆ? -->
	<div class="nextrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Jak korzystać?</h2>
			</div>
			<div class="section_content w3-center">
				<div class="floating_item">
					<div id="PRZECZYTAJ" class="icon_box3"></div>
					<div class="text_box3">Zapoznaj się z regulaminem korzystania z biblioteki.</div>
				</div>
				<div class="floating_item">
					<div id="WYBIERZ" class="icon_box3"></div>
					<div class="text_box3">Wybierz interesującą Cię pozycję.</div>
				</div>
				<div class="floating_item">
					<div id="WYPELNIJ" class="icon_box3"></div>
					<div class="text_box3">Wypełnij formularz rezerwacyjny i potwierdź rezerwację.</div>
				</div>
			</div>
			<div style="text-align: center">
				Po wypełnieniu formularza czas i miejsce odebrania oraz zwrotu książki uzgodnienie zostaną z wypożyczającym drogą mailową. Optymalne miejsce przekazania książki to cotygodniowe miejsce spotkań prelekcyjnych SKN ASE, które można śledzić na naszym fanpage’u facebookowym.
			</div>
		</div>
	</div>

	<!-- REGULAMIN -->
	<div class="nextrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Regulamin</h2>
			</div>
			<div class="section_content">
				<p>
					<ol class="simple-list">
						<li>Warunkiem korzystania z biblioteki jest bycie studentem SGH lub członkiem SKN ASE.</li>
						<li>Po dokonaniu zapisu, w ciągu 7 dni czytelnik musi zgłosić się po książkę, w przeciwnym wypadku zamówienie traci ważność.</li>
						<li>Przy zgłaszaniu się po zamówioną książkę należy ukazać ważną legitymację SGH.</li>
						<li>Każdy czytelnik może wypożyczyć jednocześnie maksymalnie jedną książkę.</li>
						<li>Okres wypożyczenia trwa nie dłużej niż 3 tygodnie.</li>
						<li>Wypożyczający może przedłużyć okres wypożyczenia danej książki jeżeli:
							<ul>
								<li>nie ma zamówień na daną pozycję ze strony innych użytkowników</li>
								<li>wypożyczający przed upływem ustalonego terminu zwrotu wystąpi o prolongatę na okres kolejnych 2 tygodni.</li>
							</ul>
						</li>
						<li>Użytkownicy przetrzymujący książki tracą prawo do wypożyczania kolejnych pozycji.</li>
						<li>Zniszczenie lub zagubienie książki oznacza jej odkup przez użytkownika.</li>
						<li>W przypadku kolizji zamówień pierwszeństwo w wypożyczaniu książek mają członkowie SKN ASE.</li>
					</ol>
				</p>
			</div>
		</div>
	</div>

	<!-- BIBLIOTEKA -->
	<div class="nextrow">
		<div class="container-fluid inside_row">
			
			<button class="notcollapsible">
				<div class="book_title">tytuł</div> 
				<div class="book_author">autor</div>
				<div class="book_status">status</div>
			</button>

			{% for book in b %}
			<button class="collapsible">
				<div class="book_title">{{ book.title }}</div> 
				<div class="book_author">
					{% if book.authors.all|length > 1 %}
						{% for author in book.authors.all %}
							{% if forloop.revcounter0 != 0 %}
								{{ author.first_name|first }}. {{ author.last_name }},
							{% else %}
								{{ author.first_name|first }}. {{ author.last_name }}
							{% endif %}
						{% endfor %}
					{% else %}
						{% for author in book.authors.all %}
							{{ author.first_name|first }}.
							{{ author.last_name }}
						{% endfor %}
					{% endif %}
				</div>
				<div class="book_status">
					{% load status_filter %}
					{% if book.id|getStatus == 4 %}
						<span class="w3-text-yellow">Zamówiona</span>
					{% elif book.id|getStatus == 5 %}
						<span class="w3-text-red">Wypożyczona ({{ book.id|dueDate|date:"d-m-Y" }})</span>
					{% else %}
						<span class="w3-text-green">Dostępna</span>
					{% endif %}
				</div>
			</button>
			<div class="book_content">
				<div class="container-fluid" style="padding-top: 24px;">
						<h4>Tematyka:</h4>
						<p>
							{% for tag in book.tags.all %}
								{% if forloop.revcounter0 != 0 %}
									{{ tag.subject}},
								{% else %}
									{{ tag.subject}}
								{% endif %}
							{% endfor %}
						</P>
						<h4>Opis:</h4>
						<p class="w3-justify">
							{{ book.description|safe }}
						</p>
						<p><b>Liczba stron: </b>{{ book.pages }}</p>
						<p><button onclick="orderForm({{ book.id }})" class="w3-button" style="background-color: #373737; color: #f4f4f4;">REZERWUJ</button></p>
						{% include "orderForm.html" %}
					</div>
			</div>
			{% endfor %}

		</div>
	</div>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		
		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight){
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			} 
			});
		}
	</script>

	<!-- <div class="w3-row">
		<div class="w3-container w3-hide-small w3-mobile w3-col m3">
			<img src="/static/img/sectionIcons/biblioteka_icon.png" style="width: 100%">
		</div>
	</div>

	<div class="w3-text-red">
		{{ form.name.errors }}
		{{ form.surname.errors }}
		{{ form.email.errors }}
		{{ form.emailConf.errors }}
		{{ form.phone.errors }}
	</div> -->

{% endblock %}