{% extends "index.html" %}

{% block title %}biblioteka{% endblock %}

{% block content %}

	<div class="w3-row">
		<div class="w3-container w3-hide-small w3-mobile w3-col m3">
			<img src="/static/img/sectionIcons/biblioteka_icon.png" style="width: 100%">
		</div>

		<div class="w3-container w3-col m9 w3-justify">
			<h1>O bibliotece</h1>
			<p>
				Jako młodzi i spragnieni wiedzy o Szkole Austriackiej oraz jej dorobku z nadzieją wchodziliśmy do pięknego gmachu Biblioteki SGH szukając wśród licznych prac ekonomicznych i filozoficznych dzieł Hayeka czy Misesa. Niestety okazało się, że są one bardzo nieliczne. Dlatego postanowiliśmy stworzyć własną bibliotekę, która spełniałaby nasze wymagania. W trakcie systematycznego poszerzania naszego zbioru postawiliśmy sobie następujące cele: 
				<ul>
					<li>utworzenie rozbudowanej bazy naukowej do wykorzystania w publikacjach i pracach dyplomowych</li>
					<li>animacja czytelnictwa wśród członków SKN ASE i studentów SGH</li>
					<li>poszerzenie wiedzy na temat Szkoły Austriackiej członków SKN ASE i innych zainteresowanych studentów SGH</li>
					<li>ukazanie heterogeniczności dorobku Szkoły Austriackiej, z uwzględnieniem polskich autorów</li>
				</ul> 
				Wśród naszych zasobów poza samą teorią ekonomii mamy pozycje dla tych, którzy dopiero zaczynają przygodę z austriakami, takie jak ,,Ekonomia w jednej lekcji” Hazlitta. Nie brakuje prac metodologicznych, np. ,,Teoria a historia” Misesa, czy w końcu osiągnięć polskich uczonych - ,,Pod prąd głównego nurtu ekonomii” pod red. Mateusza Machaja z Instytutu Misesa.
			</p>
			<h2>Jak korzystać?</h2>
			<p>
				<ol>
					<li>Zapoznaj się z regulaminem korzystania z biblioteki.</li>
					<li>Jeśli wyrażasz zgodę na przestrzeganie zasad regulaminu biblioteki, postępuj z kolejnymi krokami.</li>
					<li>Wybierz interesującą cię pozycję.</li>
					<li>Kliknij ,,REZERWUJ’’.</li>
					<li>Wypełnij formularz rezerwacyjny i potwierdź rezerwację.</li>
				</ol>
				<p>
					Po wypełnieniu formularza czas i miejsce odebrania oraz zwrotu książki uzgodnienie zostaną z wypożyczającym drogą mailową. Optymalne miejsce przekazania książki to cotygodniowe miejsce spotkań prelekcyjnych SKN ASE, które można śledzić na fanpage’u facebookowym SKN Austriackiej Szkoły Ekonomii.
				</p>
			</p>
			<h2>Regulamin</h2>
			<p>
				<ol>
					<li>Warunkiem korzystania z biblioteki jest bycie studentem SGH lub członkiem SKN ASE.</li>
					<li>Po dokonaniu zapisu, w ciągu 7 dni czytelnik musi zgłosić się po książkę, w przeciwnym wypadku zamówienie traci ważność.</li>
					<li>Przy zgłaszaniu się po zamówioną książkę należy ukazać ważną legitymację SGH.</li>
					<li>Każdy czytelnik może wypożyczyć jednocześnie maksymalnie jedną książkę.</li>
					<li>Okres wypożyczenia trwa nie dłużej niż 3 tygodnie.</li>
					<li>Wypożyczający może przedłużyć okres wypożyczenia danej książki jeżeli:
						<ul>
							<li>nie ma zamówień na daną pozycję ze strony innych użytkowników</li>
							<li>wypożyczający przed upływem ustalonego terminu zwrotu wystąpi o prolongatę na okres kolejnych 2 tygodni.</li>
						</ul>
					</li>
					<li>Użytkownicy przetrzymujący książki tracą prawo do wypożyczania kolejnych pozycji.</li>
					<li>Zniszczenie lub zagubienie książki oznacza jej odkup przez użytkownika.</li>
					<li>W przypadku kolizji zamówień pierwszeństwo w wypożyczaniu książek mają członkowie SKN ASE.</li>
				</ol>
			</p>
		</div>
	</div>

	<div class="w3-text-red">
		{{ form.name.errors }}
		{{ form.surname.errors }}
		{{ form.email.errors }}
		{{ form.emailConf.errors }}
		{{ form.phone.errors }}
	</div>

	<div class="w3-row w3-container" style="padding-top: 48px">
		<div class="table-responsive">
		<table class="w3-table">
			<thead>
				<tr>
					<th>tytuł</th>
					<th>autor</th>
					<th>status</th>
				</tr>
			</thead>
			<tbody>
				{% for book in b %}
				<tr id="title-{{book.id}}" onclick="bookInfo('{{book.id}}')" class="w3-hover-opacity" style="cursor: pointer;">
					<td>{{ book.title }}</td>
					<td>
						{% if book.authors.all|length > 1 %}
							{% for author in book.authors.all %}
								{% if forloop.revcounter0 != 0 %}
									{{ author.first_name|first }}. {{ author.last_name }},
								{% else %}
									{{ author.first_name|first }}. {{ author.last_name }}
								{% endif %}
							{% endfor %}
						{% else %}
							{% for author in book.authors.all %}
								{{ author.first_name|first }}.
								{{ author.last_name }}
							{% endfor %}
						{% endif %}
					</td>
					<td>
						{% load status_filter %}
						{% if book.id|getStatus == 4 %}
							<span class="w3-text-orange">Zamówiona</span>
						{% elif book.id|getStatus == 5 %}
							<span class="w3-text-red">Wypożyczona ({{ book.id|dueDate|date:"d-m-Y" }})</span>
						{% else %}
							<span class="w3-text-green">Dostępna</span>
						{% endif %}
					</td>
				</tr>
				<tr id='content-{{book.id}}' class="w3-hide">
					<td colspan="3">
						<div class="w3-container" style="border-left: solid;">
							<h4>Tematyka:</h4>
							<p>
								{% for tag in book.tags.all %}
									{% if forloop.revcounter0 != 0 %}
										{{ tag.subject}},
									{% else %}
										{{ tag.subject}}
									{% endif %}
								{% endfor %}
							</P>
							<h4>Opis:</h4>
							<p class="w3-justify">
								{{ book.description|safe }}
							</p>
							<p><b>Liczba stron: </b>{{ book.pages }}</p>
							<p><button onclick="orderForm({{ book.id }})" class="w3-button w3-black">REZERWUJ</button></p>
							{% include "orderForm.html" %}
						</div>
						<div style="padding-bottom: 32px"></div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>

{% endblock %}