<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Oficjalna strona SKNu Austriackiej Szkoły Ekonomii" />
	<meta name="Keywords" content="ase, austriacka, szkoła, ekonomia, skn, sgh" />
	<meta http-equiv="Content-Language" content="pl" />
	<meta name="Author" content="Artur Żółkoś" />
	<meta http-equiv="Creation-Date" content="Sun, 1 Oct 2017 12:35:19 GMT" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

	<!-- External CSS -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/master.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mainpagebg.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="/static/css/library.css">
	<link rel="stylesheet" type="text/css" href="/static/css/linkstyle.css">
	<link rel="stylesheet" type="text/css" href="/static/css/paginator.css">

	<!-- External scripts -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Custom scripts -->
	<script src="/static/js/master.js"></script>
	<script src="/static/js/modernizr.custom.js"></script>

	<!-- Custom fonts -->
	<link href="https://fonts.googleapis.com/css?family=Exo+2:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 

	<title>SKN ASE</title>
</head>
<body>

	<!-- HEADER -->
	<div id="HEADER" class="w3-hide-small cover">
		<section id="GREETING" class="hero-image w3-hide">
			<img src="/static/img/logo.png">
			<h1>Poznaj Austriacką Szkołę Ekonomii</h1>
			<a id="SCROLL" href="#NAVIGATION"><span></span>Przewiń</a>
		</section> 
	</div>
	<script type="text/javascript">
		var currentPage = "{{request.path}}";
		var coverDiv = document.getElementById("HEADER");
		var greet = document.getElementById("GREETING")
		switch(currentPage) {
			case "/":
				coverDiv.classList.add("bg_main");
				greet.classList.remove("w3-hide")
				break;
			case "/onas/":
				coverDiv.classList.add("bg_onas");
				break;
			case "/biblioteka/":
				coverDiv.classList.add("bg_biblioteka");
				break;
			case "/projekty/":
				coverDiv.classList.add("bg_projekty");
				break;
			case "/publikacje/":
				coverDiv.classList.add("bg_publikacje");
				break;
			case "/kontakt/":
				coverDiv.classList.add("bg_kontakt");
				break;
		}
	</script>

	<!-- NAVIGATION -->
	<nav id="NAVIGATION" class="navbar navbar-expand-sm navbar-light cl-effect-1" data-toggle="affix" style="background-color: #C0B283">
		<div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
			<!-- <div class="navbar-header"><span class="navbar-brand">LOGO</span></div> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MAINNAVBAR" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="MAINNAVBAR">
				<ul class="navbar-nav">
					<li class="nav-item" {% if request.path == '/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/" class="nav-link w3-hover-none" style="color: #f4f4f4;">ASE</a></li>
					<li class="nav-item" {% if request.path == '/onas/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/onas" class="nav-link w3-hover-none" style="color: #f4f4f4;">o nas</a></li>
					<li class="nav-item" {% if request.path == '/biblioteka/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/biblioteka" class="nav-link w3-hover-none" style="color: #f4f4f4;">biblioteka</a></li>
					<li class="nav-item" {% if request.path == '/projekty/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/projekty" class="nav-link w3-hover-none" style="color: #f4f4f4;">projekty</a></li>
					<li class="nav-item" {% if request.path == '/publikacje/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/publikacje" class="nav-link w3-hover-none" style="color: #f4f4f4;">publikacje</a></li>
					<li class="nav-item" {% if request.path == '/kontakt/' %}style="background-color: #373737; font-weight: bold"{% endif %}><a href="/kontakt" class="nav-link w3-hover-none" style="color: #f4f4f4;">kontakt</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- CONTENT -->
	<div id="CONTENT">
		{% block content %}{% endblock %}
	</div>

	<!-- Sticky navbar script -->
	<script type="text/javascript">
		window.onscroll = function() {navStick()};
		var navbar = document.getElementById("NAVIGATION");
		var sticky = navbar.offsetTop;
	</script>

	<!-- FOOTER -->
	<div id="FOOTER" class="container-fluid">
		{% include "includes/footer.html" %}
	</div>

</body>
</html>