{% extends "index.html" %}

{% block title %}kontakt{% endblock %}

{% block content %}

	<div class="headrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Skontaktuj się z nami!</h2>
			</div>
			<div class="section_content">
				<p>
					Suspendisse nisi lectus, lobortis nec risus ut, venenatis tincidunt velit. Sed malesuada eros odio, a mollis tellus venenatis id. Aenean suscipit semper lacus id porta. Etiam sit amet finibus tellus, non cursus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras iaculis tristique sem vitae sollicitudin. Mauris congue vitae odio non sagittis. Donec ac blandit ante, sit amet porttitor purus. Donec nec tortor nec urna egestas efficitur ac vel lorem. Nunc venenatis ex sit amet nisi eleifend feugiat. Sed sapien est, pretium id molestie at, rutrum eu sapien. Integer facilisis blandit nunc, nec feugiat diam vehicula ut. Quisque sit amet nunc ut libero porta iaculis.
				</p>
			</div>
		</div>
	</div>

	<div class="w3-text-red">
		{{ form.email.errors }}
		{{ form.message.errors }}
	</div>

	<div class="nextrow">
		<div class="container-fluid inside_row">
			<div class="section_title">
				<h2>Napisz do nas</h2>
			</div>
			<div class="section_content">

				<p>
					Skontaktować się nami można przez poniższy formularz, lub bezpośrednio przez adres [mamy maila sknowego?]
				</p>

				<form action="" method="post">{% csrf_token %}
					<p class="field">email:</p>
					<p>{{ form.email }}</p>
					<p class="field">wiadomość:</p>
					<p>{{ form.message }}</p>
					<div class="w3-padding-16">
						<input type="submit" value="Wyślij wiadomość" class="w3-button w3-black">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}