{% extends "index.html" %}

{% block title %}o nas{% endblock %}

{% block content %}

	<div class="headrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Kim jesteśmy?</h2>
			</div>
			<div class="section_content">
				<p>
					Studenckie Koło Naukowe Austriackiej Szkoły Ekonomii jest organizacją zrzeszającą osoby zainteresowane teorią i metodologią ekonomii, które bez odtwórczego powtarzania prekursorów, ostatecznie chcą przyczynić się do rozwoju tej dziedziny nauki. Misją Koła jest rozwój intelektualny członków, kształtowanie przyszłej kadry naukowej oraz propagowanie osiągnięć ASE.				
				</p>
				<p>
					Stąd, SKN ASE skupia swoją działalność przede wszystkim na bezinteresownym poszukiwaniu prawdy, a potencjalne osiągnięcia praktyczne, będące efektem ubocznym czysto intelektualnego badania rzeczywistości, traktujemy jako miły dodatek. Odróżniamy się tym samym od dominującej dzisiaj tendencji traktowania nauki w sposób instrumentalny. Dlatego, by nie zejść z drogi poszukiwania praw rządzących ekonomią, znaczną część uwagi poświęcamy na ,,fundamenty”, czyli filozofię i metodologię ekonomii. W naszej działalności towarzyszy nam dewiza:
				</p>
				<div class="w3-panel" style="border-left: 6px solid #C0B283; margin-left: 24px;">
					<p>
						<span class="w3-serif w3-xlarge"><i>"Jedynie prawda jest ciekawa."</i></span>
					</p>
					<p style="margin-bottom: 0px;">Józef Mackiewicz</p>	
				</div> 
				<p>
					SKN Austriackiej Szkoły Ekonomii powstał w październiku 2016 roku. W stosunkowo krótkim czasie, wąska grupka ekonomicznych zapaleńców z dr. Guzikowskim na czele, stała się jedną z popularniejszych organizacji w Szkole Głównej Handlowej, zrzeszającą obecnie ok. 50 członków. Koło rozpoczęło swoją działalność cyklem prelekcji o podstawach Szkoły Austriackiej i jej teoriach. Z czasem członkowie wychodzili z różnymi inicjatywami, które pozwalały i pozwalają z każdym semestrem lepiej realizować nasze cele.  
				</p>
			</div>
		</div>
	</div>

	<!-- Zarząd koła -->
	<div class="nextrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Zarząd</h2>
			</div>
			<div class="section_content w3-center">
				<div class="profile_float">
					<div id="OPIEKUN" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Opiekun</h4>
						<h5>Mateusz Guzikowski</h5>
						<p>
							Sprawuje pieczę merytoryczną nad działalnością Koła oraz prowadzi wykłady o ASE.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="PREZES" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Prezes</h4>
						<h5>Wojciech Solarz</h5>
						<p>
							Reprezentuje Koło na zewnątrz oraz realizuje jego plan działalności.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="WICE" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Wiceprezes</h4>
						<h5>Wojciech Piętak</h5>
						<p>
							Wspomaga Prezesa w jego obowiązkach i zastępuje go w razie potrzeby.
						</p>
					</div>
				</div>
			</div>
			<div class="section_content w3-center">
				<div class="profile_float">
					<div id="ADMIN" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Administracja i finanse</h4>
						<h5>Prot Boczkowski</h5>
						<p>
							Zajmuje się relacjami na linii Koło - Uczelnia oraz alokuje i rozlicza środki projektowe.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="PROMO" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Promocja</h4>
						<h5>Wojciech Piętak</h5>
						<p>
							Prowadzi stronę Facebookową, tworzy i promowuje wydarzenia. Projektuje grafiki kołowe oraz materiały promocyjne.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="HR" class="icon_box2"></div>
					<div class="text_box2">
						<h4>Kapitał ludzki</h4>
						<h5>Julia Jabłońska</h5>
						<p>
							Organizuje rekrutację do Koła i wydarzenia towarzyskie dla członków.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Zarząd koła -->
	<div class="nextrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Koordynatorzy projektów</h2>
			</div>
			<div class="section_content w3-center">
				<div class="profile_float">
					<div id="ZOLK" class="icon_box2"></div>
					<div class="text_box2">
						<h5>Artur Żółkoś</h5>
						<p>
							Koordynator <a href="">Publikacji ASE</a>, organizator <a href="">Wstępu do Formalizacji ASE</a> oraz twórca tej strony.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="DUPL" class="icon_box2"></div>
					<div class="text_box2">
						<h5>Bartłomiej Duplaga</h5>
						<p>
							Koordynator Ligi Debat SGH, główny selekcjoner i szkoleniowiec <a href="">debatanckiej kadry ASE</a>.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="MAKI" class="icon_box2"></div>
					<div class="text_box2">
						<h5>Konstanty Makieła</h5>
						<p>
							Odpowiada za <a href="">materiały publikowane na stronie</a>, a więc opisy aktualnych wydarzeń w światowej gospodarce oraz papery naukowe SKN ASE.
						</p>
					</div>
				</div>
			</div>
			<div class="section_content w3-center">
				<div class="profile_float">
					<div id="WICE" class="icon_box2"></div>
					<div class="text_box2">
						<h5>Wojciech Piętak</h5>
						<p>
							Prowadzi <a href="">Wielką Powtórkę z Mikro i Makroekonomii</a>.
						</p>
					</div>
				</div>
				<div class="profile_float">
					<div id="PREZES" class="icon_box2"></div>
					<div class="text_box2">
						<h5>Wojciech Solarz</h5>
						<p>
							Organizuje <a href="">Prelekcje ASE</a> oraz <a href="">Seminaria ASE</a>.
						</p>
					</div>
				</div>
			</div>	
		</div>
	</div>

{% endblock %}