{% extends "index.html" %}

{% block title %}o nas{% endblock %}

{% block content %}

	<div class="headrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Kim jesteśmy?</h2>
			</div>
			<div class="section_content">
				<p>
					Studenckie Koło Naukowe Austriackiej Szkoły Ekonomii jest organizacją zrzeszającą osoby, które chcą rozwijać się naukowo w dziedzinie ekonomii, (z naciskiem na metodologię szkoły austriackiej) oraz ostatecznie wnieść też nowy wkład w tę dziedzinę nauki. Misją dziejową koła jest kształtowanie przyszłych elit intelektualnych. 
				</p>
				<p>
					SKN Austriackiej Szkoły Ekonomii powstał w październiku 2016 roku. W stosunkowo krótkim czasie, wąska grupka ekonomicznych zapaleńców z dr Guzikowskim na czele, stała się jedną z popularniejszych organizacji w Szkole Głównej Handlowej, zrzeszającą obecnie 50 członków. Nasze koło rozpoczęło swoją działalność cyklem prelekcji o podstawach szkoły austriackiej i jej teoriach. Z czasem ujawniły się kolejne potrzeby, więc koło poszerzyło swój zakres działalności.
				</p>
				<p>
					Obecnie nasze koło prowadzi wiele projektów, za które bezpośrednio odpowiadają poszczególni koordynatorzy z zarządem na czele.
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="w3-row">
		<p>
			Opiekun koła dr Mateusz Guzikowski, prowadzi zajęcia ze wstępu do ASE. Dba też o formalne sprawy między kołem a uczelnią i merytoryczne aspekty projektów. 
		</p>
	</div>

	<div class="w3-row-padding w3-margin-top">
		<h2>Zarząd</h2>
			<h3>Prezes</h3>
				<p>
					W organizacji nadzoruje projekty i koordynatorów. 
				</p>
				<p>
					Obecnie jest nim Karol Emilian Pieniak. W poprzednich semestrach sprawował pieczę nad prelekcjami tematycznymi. Kapitan i trzeci mówca pierwszej drużyny debatanckiej koła,. Szczególnie jest mu drogie zagadnienie preferencji czasowej w szkole austriackiej.
				</p>
			<h3>Administracja i finanse</h3>
				<p>
					Odpowiada za sprawy administracyjne, jak regulamin koła czy sprawozdania z działalności. Pilnuje też finansów koła, płacenia składek oraz formalnej strony projektów ubiegających się o finansowanie z Rady Kół i Organizacji SGH. 
				</p>
				<p>
					 Obecnie urząd ten sprawuje Prot Boczkowski. Oprócz bycia częścią zarządu, Prot jest członkiem I drużyny debatanckiej SKN ASE w formacie oksfordzkim. Prywatnie Prot jest wyznawcą idei Kalokagatii.
				</p>
			<h3>Kapitał ludzki</h3>
				<p>
					Zajmuje się organizacją wyjść i wyjazdów integracyjnych, oraz rekrutacją. Odpowiada także za projekty szkoleniowe dla członków koła.
				</p>
				<p>
					Obecnie funkcję tę sprawuje Julia Jabłońska. W tym roku akademickim Julia koordynuje warsztaty z przemawiania. Prywatnie jest miłośniczką dobrego kina.
				</p>
			<h3>Promocja i PR</h3>
				<p>
					Dba o wizerunek oraz popularność naszego koła. Odpowiada więc za prace na fanpagu i innych kanałach informacji.
				</p>
				<p>
					Obecnie promocją i PR zajmuje się Wojciech Piętak. Wojciech jest także koordynatorem projektu Wielka Powtórka z Mikro- i Makroekonomii. W działalności naukowej, Wojciech zajmuje się przede wszystkim metodologią szkoły austriackiej i taki też jest temat rozdziału, który napisał w ramach naszej publikacji. Prywatnie jest wielkim fanem piłki nożnej, zarówno jako kibic jak i etatowy gracz na tzw. „orlikach”.
				</p>
	</div>

	<div class="w3-row-padding w3-margin-top">
		<h2>Piony</h2>
		<p>
			Piony to stałe komórki koła, które służą realizacji jego misji ideowej. Na ich czele stoją koordynatorzy, którzy odpowiadają przed zarządem.
		</p>
			<h3>Nauki</h3>
				<p>
					Pion nauki zajmuje się rozwojem intelektualnym członków  koła, oraz publikacją dokonań SKNu w dziedzinie ekonomii. Jest też pionem nadrzędnym w stosunku do pionu redakcyjnego strony internetowej. Koordynator tego pionu nadzoruje prace nad wszystkimi projektami wewnątrz niego.
				</p>
				<p>
					Obecnie szefem tego pionu jest Artur Żółkoś. Do głównych zadań Artura w obecnym roku akademickim należy koordynacja dwóch dużych projektów. Pierwszym z nich jest publikacja naukowa, mająca wdrożyć czytelnika w ideę Austriackiej Szkoły Ekonomii, opisując zarówno metodologię Szkoły, jak i teorie opracowane przez ekonomistów ASE w obiektywny, naukowy sposób. Drugim projektem jest laboratorium ASE, które zajmie się formalizacją teorii Austriackiej Szkoły Ekonomii.
				</p>
			<h3>Redakcyjny</h3>
				<p>
					Tworzy teksty na szeroko rozumiane tematy ekonomiczne i następnie odpowiada za ich publikację. Jest on podsekcją pionu nauki, jednak ze względu na nakład pracy jest oddzielną jednostką organizacyjną. Koordynator Odpowiada ą treść tekstów publikowanych na stronie internetowej oraz ich jakość. 
				</p>
				<p>
					Obecnym koordynatorem pionu redakcyjnego jest Konstanty Makieła. W tym roku akademickim będzie odpowiadał za projekt opisu bieżących wydarzeń ekonomicznych, recenzji książek, i pisaniu paperów naukowych publikowanych na naszej stronie WWW. Poza ekonomią interesuje się filozofią, matematyką, historią i rozwojem fizycznym. 
				</p>
			<h3>Prelekcji</h3>
				<p>
					Koordynator pionu nadzoruje merytoryczną stronę prelekcji. Prelekcje służą promocji podstawowych zagadnień ASE.
				</p>
				<p>
					Obecnym koordynatorem jest Wojciech Solarz, który nadzoruje także naszą bibliotekę. Poza samą teorią ekonomii interesuje się socjocybernetyką, psychologią rynków finansowych, nauką porównawczą o cywilizacjach oraz filozofią nauki. Ta ostatnia właśnie była przewijającym się tematem wykładów prowadzonych przez Wojtka i o niej również pisze w naszej publikacji. 
				</p>
			<h3>Debat</h3>
				<p>
					Pion powołany ad hoc w obecnym semestrze odpowiadający za występy osób z SKN ASE w turniejach debatanckich. Koordynator decyduje o składach drużyn debatanckich oraz o tym, w których turniejach debat (np. Akademickie Mistrzostwa Polski Debat Oksfordzkich) będą brały udział. 
				</p>
				<p>
					Bartłomiej Duplaga jest obecnym koordynatorem pionu debat. W bieżącym roku odpowiada także za szkolenia z debat oksfordzkich oraz ligę debat SGH. Jest też członkiem I drużyny debatanckiej SKNu ASE. Prywatnie interesuje się filozofią ekonomii, jest także miłośnikiem kolarstwa.
				</p>
	</div>

	<div class="w3-row-padding w3-margin-top">
		<h2>Pozostała działalność</h2>
			<h3>Biblioteka</h3>
			<h3>Wielka powtórka z mikro i makoekonomii</h3>
	</div> -->

{% endblock %}