{% extends "index.html" %}

{% block title %}o nas{% endblock %}

{% block content %}

	<div class="w3-row" style="padding-bottom: 32px">
		<div class="w3-container w3-hide-small w3-mobile w3-col m3">
			<img src="/static/img/sectionIcons/onas_icon.png" style="width: 100%">
		</div>

		<div class="w3-container w3-col m9 w3-justify">
			<h1>Kim jesteśmy?</h1>
			<p>
				Suspendisse nisi lectus, lobortis nec risus ut, venenatis tincidunt velit. Sed malesuada eros odio, a mollis tellus venenatis id. Aenean suscipit semper lacus id porta. Etiam sit amet finibus tellus, non cursus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras iaculis tristique sem vitae sollicitudin. Mauris congue vitae odio non sagittis. Donec ac blandit ante, sit amet porttitor purus. Donec nec tortor nec urna egestas efficitur ac vel lorem. Nunc venenatis ex sit amet nisi eleifend feugiat. Sed sapien est, pretium id molestie at, rutrum eu sapien. Integer facilisis blandit nunc, nec feugiat diam vehicula ut. Quisque sit amet nunc ut libero porta iaculis.
			</p>
		</div>
	</div>

	<div class="w3-row-padding w3-margin-top">

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/art.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Artur Żółkoś</h3>
					<h4>Rada projektowa</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan metus a diam dictum, sit amet fermentum erat hendrerit. Nulla ut posuere diam. Vivamus molestie vel lorem non vestibulum. Etiam imperdiet fermentum justo vitae placerat. Pellentesque eu nisi quis orci dapibus lacinia. Mauris vestibulum leo eu ipsum gravida, a aliquet metus aliquet. Sed interdum vehicula nunc quis auctor. Maecenas malesuada leo dolor, nec suscipit quam semper vitae. Vivamus faucibus ipsum neque, sit amet tempor leo molestie vitae. Vivamus mattis ac neque sit amet scelerisque.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/kar.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Karel Piniok</h3>
					<h4>Lord Władca Rządzący Cesarz</h4>
					<p>
						Aenean dictum nulla nunc, ut pellentesque lectus aliquet quis. Ut interdum tellus id eros dictum pharetra. Cras rutrum, justo a sodales convallis, diam tortor varius sapien, in pellentesque lorem felis at libero. Suspendisse condimentum ex ut malesuada dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi eros libero, bibendum sed pellentesque sit amet, euismod vel augue. Proin laoreet placerat dolor, eu dignissim sem tempus a.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/pro.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Prot Boczkowski</h3>
					<h4>Rada projektowa</h4>
					<p>
						Maecenas ultrices condimentum eleifend. Curabitur suscipit orci sed ipsum pharetra, vitae consectetur quam viverra. Morbi varius luctus dolor sit amet bibendum. Nam at massa ullamcorper, commodo quam non, consequat erat. Aliquam eleifend tristique lectus, nec molestie diam mattis a. Fusce ultrices bibendum ipsum et convallis. Nunc urna quam, posuere sit amet eros non, imperdiet commodo augue. Suspendisse a nulla orci. Duis condimentum sagittis dolor, a pharetra augue dignissim vel. Suspendisse potenti. Curabitur pulvinar rhoncus commodo. Fusce in eros luctus, posuere nisi at, tempor turpis. Vivamus semper porttitor justo, sit amet euismod quam hendrerit vel.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

	</div>

		<div class="w3-row-padding w3-margin-top">

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/pie.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Wojciech Piętak</h3>
					<h4>Marketing</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan metus a diam dictum, sit amet fermentum erat hendrerit. Nulla ut posuere diam. Vivamus molestie vel lorem non vestibulum. Etiam imperdiet fermentum justo vitae placerat. Pellentesque eu nisi quis orci dapibus lacinia. Mauris vestibulum leo eu ipsum gravida, a aliquet metus aliquet. Sed interdum vehicula nunc quis auctor. Maecenas malesuada leo dolor, nec suscipit quam semper vitae. Vivamus faucibus ipsum neque, sit amet tempor leo molestie vitae. Vivamus mattis ac neque sit amet scelerisque.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/kar.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Karel Piniok</h3>
					<h4>Lord Władca Rządzący Cesarz</h4>
					<p>
						Aenean dictum nulla nunc, ut pellentesque lectus aliquet quis. Ut interdum tellus id eros dictum pharetra. Cras rutrum, justo a sodales convallis, diam tortor varius sapien, in pellentesque lorem felis at libero. Suspendisse condimentum ex ut malesuada dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi eros libero, bibendum sed pellentesque sit amet, euismod vel augue. Proin laoreet placerat dolor, eu dignissim sem tempus a.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card-2">
				<img src="/static/img/profile/sol.jpg" class="img-responsive">
				<div class="w3-container">
					<h3>Wojciech Solarz</h3>
					<h4>Rada projektowa</h4>
					<p>
						Maecenas ultrices condimentum eleifend. Curabitur suscipit orci sed ipsum pharetra, vitae consectetur quam viverra. Morbi varius luctus dolor sit amet bibendum. Nam at massa ullamcorper, commodo quam non, consequat erat. Aliquam eleifend tristique lectus, nec molestie diam mattis a. Fusce ultrices bibendum ipsum et convallis. Nunc urna quam, posuere sit amet eros non, imperdiet commodo augue. Suspendisse a nulla orci. Duis condimentum sagittis dolor, a pharetra augue dignissim vel. Suspendisse potenti. Curabitur pulvinar rhoncus commodo. Fusce in eros luctus, posuere nisi at, tempor turpis. Vivamus semper porttitor justo, sit amet euismod quam hendrerit vel.
					</p>
					<p >
						<a href="https://www.facebook.com/skn.ase/"><img src="/static/img/footerIcons/facebook_icon.png" class="w3-hover-opacity" style="width: 30px; height: 30px"/></a>
					</p>
				</div>
			</div>
		</div>

	</div>

{% endblock %}