{% extends "index.html" %}

{% block title %}projekty{% endblock %}

{% block content %}

	<div class="headrow">
		<div class="container-fluid inside_row">
			<div class="section_title w3-center">
				<h2>Czym się zajmujemy?</h2>
			</div>
			<div class="section_content">
				<p>
					Suspendisse nisi lectus, lobortis nec risus ut, venenatis tincidunt velit. Sed malesuada eros odio, a mollis tellus venenatis id. Aenean suscipit semper lacus id porta. Etiam sit amet finibus tellus, non cursus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras iaculis tristique sem vitae sollicitudin. Mauris congue vitae odio non sagittis. Donec ac blandit ante, sit amet porttitor purus. Donec nec tortor nec urna egestas efficitur ac vel lorem. Nunc venenatis ex sit amet nisi eleifend feugiat. Sed sapien est, pretium id molestie at, rutrum eu sapien. Integer facilisis blandit nunc, nec feugiat diam vehicula ut. Quisque sit amet nunc ut libero porta iaculis.
				</p>
			</div>
		</div>
	</div>

{% endblock %}