{% extends "index.html" %}

{% block title %}recenzje{% endblock %}

{% block content %}

	<div class="w3-row">
		<div class="w3-container w3-hide-small w3-mobile w3-col m3">
			<img src="/static/img/sectionIcons/biblioteka_icon.png" style="width: 100%">
		</div>

		<div class="w3-container w3-col m9 w3-justify">
			<h1>Recenzje wybranych książek</h1>
			<p>
				Suspendisse nisi lectus, lobortis nec risus ut, venenatis tincidunt velit. Sed malesuada eros odio, a mollis tellus venenatis id. Aenean suscipit semper lacus id porta. Etiam sit amet finibus tellus, non cursus lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras iaculis tristique sem vitae sollicitudin. Mauris congue vitae odio non sagittis. Donec ac blandit ante, sit amet porttitor purus. Donec nec tortor nec urna egestas efficitur ac vel lorem. Nunc venenatis ex sit amet nisi eleifend feugiat. Sed sapien est, pretium id molestie at, rutrum eu sapien. Integer facilisis blandit nunc, nec feugiat diam vehicula ut. Quisque sit amet nunc ut libero porta iaculis.
			</p>
		</div>
	</div>

{% endblock %}